/* =====================================
   Grid Layout
======================================== */

.grid {
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
    grid-template-rows: 100px 200px;
    grid-gap: 15px 20px;
}

